<h1>Idea Box</h1>

<div>
  <h3>Ideas:</h3>
  <div id="ideaList">
  </div>
</div>

<div>
  <form id="ideaForm">
    <input type="text" name="title" id="ideaTitle"><br>
    <textarea name="textarea" id="ideaBody"></textarea>
    <input id="submitButton" type="submit" value="Save">
  </form>
</div>
