
<div class="container">
  <div class="text-center">
    <h1>Idea Box</h1>
  </div>

  <div class="flash-message">
  </div>

  <div>
    <form id="ideaForm" class="form-control">
      <fieldset class="form-group"><br/>
        <div class="col-md-6">
          <input type="text" class="form-control" name="title" id="ideaTitle" placeholder="Title"><br>
          <input type="text" class="form-control" name="title" id="ideaTags" placeholder="Enter Comma Separated Tags"><br>
        </div>
        <div class="col-md-6">
          <textarea name="textarea" class="form-control" id="ideaBody" placeholder="Body" rows="4"></textarea>
        </div>
        <div class="col-md-12">
          <input id="submitButton" class="btn btn-secondary btn-lg btn-block" type="submit" value="Save">
        </div>
      </fieldset>
    </form>
  </div>

 <br/>
  <div>
    <form class="form-control">
      <fieldset class="form-group"><br/>
        <div class="row">
          <div class="col-md-5">
            <input type="text" id="searchBar" class="form-control" placeholder="Search">
          </div>
          <div class="col-md-5" id="searchBox">

          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <br/>
  <div>
    <ul class="list-group" id="ideaList">

    </ul>
  </div>

</div>
